<div class="jumbotron text-center">
	<h3>HeadCount Pie Chart</h3>
	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Headcount by Department</h3>
                </div>
				<div class="pieChart panel-body">
					<d3pie-chart chart-name="'department'"></d3pie-chart>
				</div>
			</div>
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Headcount by Salary Grade</h3>
                </div>
				<div class="pieChart panel-body">
					<d3pie-chart chart-name="'salary'"></d3pie-chart>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Headcount by Age</h3>
                </div>
				<div class="pieChart panel-body">
					<d3pie-chart chart-name="'age'"></d3pie-chart>
				</div>
			</div>
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Headcount by Location</h3>
                </div>
				<div class="pieChart panel-body">
					<d3pie-chart chart-name="'location'"></d3pie-chart>
				</div>
			</div>
		</div>
	</div>
</div>